@import './index.css';

.ql-snow .ql-stroke {
    stroke: var(--ql-stroke-style);
}

.ql-snow .ql-picker {
    color: var(--ql-stroke-style);
}

.ql-snow .ql-picker-options {
    background-color: #bebebe;
}
.ql-toolbar.ql-snow .ql-picker-options {
    border: none;
}

.ql-toolbar .ql-snow {
    border: #000000;
}