.ql-snow .ql-stroke {
    stroke: #fff;
}

.ql-snow .ql-picker {
    color: #ffffff;
}

.ql-snow .ql-picker-options {
    background-color: #3d3d3d;
}
.ql-toolbar.ql-snow .ql-picker-options {
    border: none;
}

.ql-toolbar .ql-snow {
    border: #3d3d3d;
}