/* src/components/styles.css */
@import './index.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    width: 100%;
}

.dashboard {
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 60px;
    width: 100%;
}

.sidebar {
    width: 25%;
    max-width: 300px;
    min-width: 200px;
    background-color: var(--nav-bar-color) ;
    overflow-y: auto;
    z-index: 0;
    position: relative;
}

.note-list {
    padding: 1rem;
}

.note-list-item {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1rem;
    color: var(--text-color);
}

.note-list-item:hover {
    background-color: var(--note-hover);
}

.note-editor {
    flex: 1;
    background-color: var(--background-color);
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.note-editor-textarea {
    width: 100%;
    height: calc(100vh - 60px - 2rem);
    resize: none;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.save-state {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #969696;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 1s;
}

.save-state.hidden {
    opacity: 0;
}


/* Custom scrollbar */
.note-editor::-webkit-scrollbar {
    width: 10px;
}

.note-editor::-webkit-scrollbar-track {
    background-color: #444;
}

.note-editor::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 5px;
}

.note-list-item input {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    width: 100%;
    padding: 0.25rem 0;
    cursor: text;
}

.note-list-item-button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    padding: 0.25rem 0;
    display: block;
    width: 100%;
    text-align: left;
}

.note-list-item-button:hover {
    color: #bbbbbb;
}

.note-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* Add other styles for the note list item */
}

.delete-note {
    background-color: #ff6262;
    scale: 0.8;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;

    /* Add other styles for the delete button */
}

.confirm-delete {
    scale: .8;
}

.confirm-delete:hover {
    background-color: #ff6262;
    border: hidden;
}

.cancel-delete {
    scale: .8;
}

.cancel-delete:hover {
    background-color: #67ff62;
    border: hidden;
}

.note-list-item:hover .delete-note {
    opacity: 1;
}




/* Responsive styles */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        max-width: none;
        min-width: none;
        height: 20%;
        min-height: 100px;
    }

    .note-editor {
        height: 80%;
    }
}